<h1>{{title}}</h1>
<h2>Fall 2017</h2>
<h2>Section 1</h2>
<h2>Team 15</h2>  

<p>Welcome to {{title}}'s intro page!</p>
<a href={{andrewLink}}>Andrew</a> 
<a href={{benediktLink}}>Benedikt</a>
<a href={{noraldLink}}>Norald</a>
<a href={{menaLink}}>Mena</a>

